[run]
omit =
    */tests/*
    */test_*.py
    */test.py
    */__pycache__/*
    */conftest.py

[report]
omit =
    */tests/*
    */test_*.py
    */test.py
    */__pycache__/*
    */conftest.py

[html]
directory = C:\Diplom\bsc_Muravin\Task_project\test_analysis_report\coverage_html
